<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-alpine.css">
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-charts-enterprise@31.3.2/dist/ag-grid-charts-enterprise.js?t=1715777116725"></script>
</head>
<body>
    <div id="myGrid" class="ag-theme-alpine" style="height: 600px; width: 100%;"></div>
    <script>
        
        fetch('/data')
            .then(response => response.json())
            .then(data => {

                // DATA FORMATTING
                function numberFormatter(params) {
                    var number = params.value? params.value : 0
                    number = parseFloat(params.value? params.value : 0);
                    var formatted = number.toLocaleString('pt-BR', {minimumFractionDigits: 0});
                    return `${formatted}`;
                }

                function percentFormatter(params) {
                    var number = params.value? params.value : 0
                    number = parseFloat(params.value? params.value : 0);
                    var formatted = number.toLocaleString('pt-BR', {minimumFractionDigits: 0});
                    return `${formatted} %`;
                }

                function dateFormatter(params) {
                    var date = new Date(params.value);
                    var formatted = date.toLocaleDateString('pt-BR');
                    return formatted;
                }

                // Função para calcular a média da linha sobre o total da coluna
                function calculateRowAverage(params) {
                    
                    if (!params.node.group && params.data) {
                        // Obtém o valor da linha atual
                        const rowValue = params.data.registros;

                        // Obtém o ano da coluna atual
                        const currentYear = params.data.ano;
                        const currentMonth = params.data.mes;

                        let totalSum = 0;

                        // Itera apenas sobre os nós do ano atual
                        params.api.forEachNode(function(node) {
                            if (node.data && node.data.registros && node.data.ano === currentYear) {
                                totalSum += node.data.registros;
                            }
                        });

                        // Evitar divisão por zero
                        if (totalSum === 0) return 0;

                        // Calcula a média
                        return parseFloat((rowValue / totalSum)*100);
                    }
                    return null;
                    
                }

                // Calcule a média mensal para cada ano
                /*function arrayValorMes(params) {

                    const currentYear = params.data.ano;

                    let arrayValores = [];
                    
                    params.api.forEachNode(function(node) {

                        if (!params.node.group && params.data) {
                            // Obtém o valor da linha atual
                            if (node.data && node.data.registros && node.data.ano === currentYear) {
                                    arrayValores.push(node.data.registros);
                            }
                        }
                    });
                    console.log(arrayValores)    
                    return arrayValores;
                }*/

                // Calcule a média mensal para cada ano
                function calculateAVGMonth(params) {
                    if (!params.node.group && params.data) {
                        // Obtém o valor da linha atual
                        return rowValue = parseFloat((params.data.registros/12).toFixed(0));
                    }
                }

                // Comparator para pivotar os dados
                function pivotComparator(valueA, valueB) {
                    return valueA - valueB;
                }

                const rowData = data.map(item => ({
                    sistema: item.sistema,
                    empresa: item.empresa,
                    tabela: item.tabela,
                    data: item.data,
                    ano: item.ano,
                    mes: item.mes,
                    //dia: item.dia,
                    registros: item.registros
                }));

                function cellClass(params) {
                    return params.value > 20 ? "rag-green" : "rag-blue";
                }

                const gridOptions = {
                    grandTotalRow: 'bottom',
                    pivotMode: true,
                    columnDefs: [
                        { headerName: 'Sistema', field: 'sistema',rowGroup: true, enableRowGroup: true },
                        { headerName: 'Empresa', field: 'empresa',rowGroup: true, enableRowGroup: true },
                        { headerName: 'Tabela', field: 'tabela',rowGroup: true, enableRowGroup: true },
                        { headerName: 'Data', field: 'data' },
                        { headerName: 'Ano', field: 'ano', pivot: true, enablePivot: true, enableRowGroup: true},
                        { headerName: 'Mês', field: 'mes', pivot: true, enablePivot: true },
                        //{ headerName: 'Dia', field: 'dia', pivot: true, enablePivot: true},
                        { headerName: 'Registros'
                            , field: 'registros'
                            , aggFunc: "sum"
                            , cellStyle: {
                                'text-align': 'right'
                            }
                            , valueFormatter: numberFormatter
                            , pivotComparator: pivotComparator
                            
                        },
                        { headerName: 'A.V.', aggFunc: "sum" 
                            , valueGetter: calculateRowAverage
                            , valueFormatter: percentFormatter
                            , cellStyle: {
                                'text-align': 'right',
                            }
                            ,cellClass: cellClass
                            
                        },
                        { headerName: 'Média Mensal', aggFunc: "sum" 
                            , valueGetter: calculateAVGMonth
                            , valueFormatter: numberFormatter
                            , cellStyle: {
                                'text-align': 'right',
                            }
                            ,cellClass: cellClass
                            
                        }

                    ],
                    rowData,
                    rowGroupPanelShow: 'always',
                    sideBar: "columns",
                };

                const eGridDiv = document.querySelector('#myGrid');
                new agGrid.Grid(eGridDiv, gridOptions);
            });
    </script>
</body>
</html>
